ol {
  margin-left: -40px;
  margin-top: -20px;
  list-style-position: inside;
}

/* Write your CSS below, don't change the rules above. */
#id-selector-demo{
  color: green;
}
.note{
  font-size: 20px;
font-size: 20px;}
li{
  initial-value: 4px;
}

*{
  text-align: center;
}